.json-summary-wrapper {
    white-space: pre-wrap;

    padding: 10px 20px;
    border-radius: 5px;
}

.json-summary {
    font-family: monospace;
}

.json-summary-wrapper.light {
    --json-keys: var(--solarized-red);
    --json-type: var(--solarized-cyan);
    --json-type-str: var(--solarized-green);
    --json-value: var(--solarized-base01);
    --json-length: var(--solarized-blue);
    --json-circular: var(--solarized-violet);

    --json-bg: var(--solarized-base3);
    --json-border: var(--solarized-base01);
    --json-percent: var(--solarized-blue);
    --json-checkbox: var(--solarized-base1);

    background: var(--json-bg);
    border: 2px solid var(--json-border);
    color: black;
}

.json-summary-wrapper.dark {
    --json-keys: var(--snippets-red);
    --json-type: var(--snippets-yellow);
    --json-type-str: var(--snippets-green);
    --json-value: var(--snippets-lightgray);
    --json-length: var(--snippets-blue);
    --json-circular: var(--snippets-purple);

    --json-bg: var(--snippets-darkgray);
    --json-border: var(--solarized-base01);
    --json-percent: var(--snippets-blue);
    --json-checkbox: var(--snippets-lightgray);

    background: var(--json-bg);
    border: 2px solid var(--json-border);
    color: var(--json-value);
}

.json-summary-checkbox {
  display: inline;
  position: relative;
  cursor: pointer;
  
  padding-left: 10px;
  margin-left: 2px;
  white-space: nowrap;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.json-summary-checkbox>input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.json-summary-checkboxmarker {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  height: 12px;
  width: 12px;

  line-height: 10px;
  text-align: center;

  color: var(--json-checkbox);
  border: 1px solid var(--json-checkbox);
}

.json-summary-checkboxmarker::before {
    content: "+";
}

.json-summary-checkbox.checked>.json-summary-checkboxmarker::before {
    content: "–";
}

.json-summary-layer {
    display: inline;
}

.json-summary-layer>.json-summary-keys {
    display: none;
    /* display: inline; */
    color: var(--json-keys);

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.json-summary-layer>.json-summary-child {
    display: none;
}

.json-summary-checkbox.checked+.json-summary-layer>.json-summary-child {
    display: inline;
}

.json-summary-checkbox.checked+.json-summary-layer>.json-summary-keys {
    display: none;
}

.json-summary-type {
    cursor: help;
    color: var(--json-type);
}

.json-summary-type.json-summary-type-string {
	color: var(--json-type-str);
}

.json-summary-value {
    display: none;
    color: var(--json-value);

    margin-left: 4px;
    font-style: italic;
}

.json-summary-value.json-summary-value::before {
	content: "(";
}

.json-summary-value.json-summary-value::after {
	content: ")";
}

.json-summary-value.json-summary-value-string::before {
	content: "('";
}

.json-summary-value.json-summary-value-string::after {
	content: "')";
}

.json-summary-type:hover + .json-summary-value {
    display: inline;
}

.json-summary-range {
    display: none;
    color: var(--json-value);

    margin-left: 4px;
    font-style: italic;
}

.json-summary-type:hover+.json-summary-value+.json-summary-range {
    display: inline;
}

.json-summary-range.json-summary-range::before {
    content: "val: ";
}

.json-summary-range.json-summary-range-string::before {
    content: "len: ";
}

.json-summary-name {
	color: var(--json-keys);
}

.json-summary-length {
	color: var(--json-length);
}

.json-summary-circular {
	color: var(--json-circular);
}

.json-summary-bar {
    width: 25px;
    height: 10px;
    margin-right: 5px;
    position: relative;
    display: inline-block;

    background: var(--json-bg);
    border: 1px solid var(--json-border);
    overflow: hidden;

    border-radius: 0 2px 2px 0;

    cursor: help;
}

.json-summary-percentage {
    position: absolute;
    height: 100%;

    top: 0;
    left: 0;

    background: var(--json-percent);
    /* border: solid var(--solarized-cyan);
    border-width: 0 1px 0 1px; */
    /* border-radius: 0 2px 2px 0; */
}

:root {
    /* using colors from the solarized light theme */
    --solarized-base03:    #002b36;
    --solarized-base02:    #073642;
    --solarized-base01:    #586e75;
    --solarized-base00:    #657b83;
    --solarized-base0:     #839496;
    --solarized-base1:     #93a1a1;
    --solarized-base2:     #eee8d5;
    --solarized-base3:     #fdf6e3;
    --solarized-yellow:    #b58900;
    --solarized-orange:    #cb4b16;
    --solarized-red:       #dc322f;
    --solarized-magenta:   #d33682;
    --solarized-violet:    #6c71c4;
    --solarized-blue:      #268bd2;
    --solarized-cyan:      #2aa198;
    --solarized-green:     #859900;

    /* colors from one dark (?) editor theme */
    --snippets-darkgray: #282c34;
    --snippets-lightgray: #abb2bf;
    --snippets-yellow: #e5c07b;
	--snippets-blue: #61afef;
	--snippets-red: #ef596f;
	--snippets-purple: #d55fde;
	--snippets-green: #89ca78;
}