// using colors from the solarized light theme
$solarized-base03: #002b36;
$solarized-base02: #073642;
$solarized-base01: #586e75;
$solarized-base00: #657b83;
$solarized-base0: #839496;
$solarized-base1: #93a1a1;
$solarized-base2: #eee8d5;
$solarized-base3: #fdf6e3;
$solarized-yellow: #b58900;
$solarized-orange: #cb4b16;
$solarized-red: #dc322f;
$solarized-magenta: #d33682;
$solarized-violet: #6c71c4;
$solarized-blue: #268bd2;
$solarized-cyan: #2aa198;
$solarized-green: #859900;

// colors from atom one dark (?) editor theme
$snippets-darkgray: #282c34;
$snippets-lightgray: #abb2bf;
$snippets-yellow: #e5c07b;
$snippets-blue: #61afef;
$snippets-red: #ef596f;
$snippets-purple: #d55fde;
$snippets-green: #89ca78;

// colors from night owl theme
$no-dark: #011627;
$no-blue: #82aaff;
$no-green: #addb67;
$no-yellow: #ecc48d;
$no-cyan: #7fdbca;
$no-orange: #f78c6c;
$no-red: #ff5874;
$no-gray: #637777;
$no-lightgray: #d7dbe0;
$no-pink: #c792ea;

// colors from monokai theme
$monokai-dark: #272822;
$monokai-green: rgb(166, 226, 46);
$monokai-yellow: rgb(230, 219, 116);
$monokai-cyan: rgb(102, 217, 239);
$monokai-orange: rgb(253, 151, 31);
$monokai-red: rgb(249, 38, 114);
$monokai-gray: rgb(117, 113, 94);
$monokai-white: rgb(248, 248, 242);
$monokai-purple: rgb(174, 129, 255);

// from abyss color theme
$abyss-green: #22aa44;
$abyss-pink: #f280d0;
$abyss-purple: #9966b8;
$abyss-blue: #2277ff;
$abyss-yellow: #ddbb88;
$abyss-comment: #384887;
$abyss-dkblue: #225588;
$abyss-light: #ffeebb;
$abyss-dark: #181f2f;
$abyss-white: #bbbbbb;