* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  display: flex;

  flex-direction: column;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
}

#content {
  text-align: left;
  width: 600px;
  max-width: 100%;
  padding: 20px;
}

.title {
  color: var(--solarized-base02);
  text-decoration: underline;
  /* border-bottom: 2px solid var(--solarized-base02); */
  font-weight: bolder;
  text-align: center;
}

/* #introtext {
  max-width: 100;
} */

.links a {
  font-weight: bold;
  font-size: 18px;
  color: var(--solarized-blue);
}

.links a:visited {
  color: var(--solarized-violet);
}

h3 {
  text-decoration: underline;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title, .data, .code {
  font-family: 'Courier New', Courier, monospace;
}

.data, .summary, .code {
  width: 100%;
  margin: 10px;
  
}

.data,
.code {
  padding: 10px 20px;
  background: var(--solarized-base3);
  border: 1px solid var(--solarized-base01);
  
  border-radius: 5px;
  font-size: 14px;
  min-height: unset;
  color: var(--solarized-base03);
  color: #000;
}

.data {
  background: var(--solarized-base2);
  color: var(--solarized-base02);

  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-style: italic;

  cursor: pointer;

  max-height: 38px;

  transition: max-height 0.5s;
}

.data::after {
  content: "\25B2";
  position: absolute;

  top: 10px;
  right: 10px;

  transform: rotate(180deg);

  transition: transform 0.5s;
}

.data.open {
  background: var(--solarized-base3);
  color: black;
  white-space: pre-wrap;
  max-height: 1000px;

  font-style: unset;
}

.data.open::after {
  transform: rotate(0deg);
}

.code {
  white-space: pre-line;
  color: var(--solarized-base3);
  background: var(--solarized-base03);
}

.section {
  display: flex;
  flex-direction: column;

  align-items: stretch;

  padding: 0 0 10px 0;

  border-bottom: 1px solid var(--solarized-base1);
}

.section p {
  font-size: 14px;
}

.example h4 {
  font-size: 16px;
}

.example h5 {
  font-size: 16px;
  font-weight: normal;
}

#option-table {

}

#option-table td {
  padding: 2px 5px;
}

.table-header th {
  border-bottom: 1px solid black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.themePanel {
  position: fixed;
  right: 0;
  top: 0;
  padding: 8px;

  display: flex;
  flex-direction: column;

  align-items: stretch;

  background: #f0f0f0aa;
  border: 1px solid #0004;

  border-radius: 0 0 0 10px;
  border-width: 0 0 2px 2px;
  cursor: pointer;
}

.themePanel .themesTitle {
  position: relative;
  margin-bottom: 5px;
  text-align: center;
  padding-right: 20px;
}

.themePanel .themesTitle:after {
  content: "\25B2";
  position: absolute;

  top: 0px;
  right: 0px;

  transform: rotate(-180deg);

  transition: transform 0.5s, top 0.5s;
}

.themePanel.open .themesTitle:after {
  transform: rotate(0deg);
  top: -2px;
}

.themeChoice {
  display: none;
  border-radius: 4px;
  background: #e0e0e0;
  border: 1px solid black;
  margin: 2px;
  padding: 4px;

  font-weight: bold;
  font-size: 14px;

  box-shadow: 0 0 5px #fff9;

  cursor: pointer;
}

.themePanel.open .themeChoice {
  display: block;
}

.themeChoice .param {
  font-family: 'Courier New', Courier, monospace;
}

/* ====== theme color stuff ====== */

.themeChoice[name="monokai"] {
  border: 2px solid rgb(117, 113, 94);
  background: #272822;
  color: #fc9867;
}

.themeChoice[name="monokai"] .param {
  color: #a9dc76;
}

.code.monokai {
  background: #272822;
  border: 2px solid rgb(117, 113, 94);
  color: #ffd866;
}

.data.monokai {
  background: #272822;
  border: 2px solid rgb(117, 113, 94);
  color: #a9dc76;
}

body.monokai {
  color: rgb(248, 248, 242);
  background: #1A1B15;
}

body.monokai .table-header th {
  border-bottom: 2px solid rgb(117, 113, 94);
}

body.monokai .dropzone {
  background: #272822;
  border-color: #a9dc76;
}

body.monokai .themePanel {
  background: #272822aa;
  border-color: #a9dc76;
}

body.monokai .title {
  color: #a9dc76;
}

.themeChoice[name="dark"] {
  border: 2px solid #abb2bf;
  background: #282c34;
  color: #61afef;
}

.themeChoice[name="dark"] .param {
  color: #89ca78;
}

.code.dark {
  background: #282c34;
  border: 2px solid #abb2bf;
  color: #e5c07b;
}

.data.dark {
  background: #282c34;
  border: 2px solid #abb2bf;
  color: #89ca78;
}

body.dark {
  color: #abb2bf;
  /* background: #282c34; */
  background: #1B1F27;
}

body.dark .table-header th {
  border-bottom: 2px solid #abb2bf;
}

body.dark .dropzone {
  background: #282c34;
  border-color: #61afef;
}

body.dark .themePanel {
  background: #282c34aa;
  border-color: #61afef;
}

body.dark .title {
  color: #61afef;
}

.themeChoice[name="light"] {
  border: 2px solid #839496;
  background: #fdf6e3;
  color: #6c71c4;
}

.themeChoice[name="light"] .param {
  color: #2aa198;
}

.code.light {
  background: #fdf6e3;
  border: 2px solid #839496;
  color: #073642;
}

.data.light {
  background: #fdf6e3;
  border: 2px solid #839496;
  color: #2aa198;
}

body.light {
  color: #073642;
  /* background: #282c34; */
  background: #FFFFF0;
}

body.light .table-header th {
  border-bottom: 2px solid #839496;
}

body.light .dropzone {
  background: #fdf6e3;
  border-color: #2aa198;
}

body.light .themePanel {
  background: #fdf6e3aa;
  border-color: #2aa198;
}

body.light .title {
  color: #2aa198;
}

.themeChoice[name="abyss"] {
  border: 2px solid #384887;
  background: #181f2f;
  color: #9966b8;
}

.themeChoice[name="abyss"] .param {
  color: #f280d0;
}

.code.abyss {
  background: #181f2f;
  border: 2px solid #384887;
  color: #ddbb88;
}

.data.abyss {
  background: #181f2f;
  border: 2px solid #384887;
  color: #f280d0;
}

body.abyss {
  color: #bbbbbb;
  background: #0B1222;
}

body.abyss .table-header th {
  border-bottom: 2px solid #384887;
}

body.abyss .dropzone {
  background: #181f2f;
  border-color: #f280d0;
}

body.abyss .themePanel {
  background: #181f2faa;
  border-color: #f280d0;
}

body.abyss .title {
  color: #f280d0;
}

:root {
  /* using colors from the solarized light theme */
  --solarized-base03: #002b36;
  --solarized-base02: #073642;
  --solarized-base01: #586e75;
  --solarized-base00: #657b83;
  --solarized-base0: #839496;
  --solarized-base1: #93a1a1;
  --solarized-base2: #eee8d5;
  --solarized-base3: #fdf6e3;
  --solarized-yellow: #b58900;
  --solarized-orange: #cb4b16;
  --solarized-red: #dc322f;
  --solarized-magenta: #d33682;
  --solarized-violet: #6c71c4;
  --solarized-blue: #268bd2;
  --solarized-cyan: #2aa198;
  --solarized-green: #859900;
}